body {
    background-color: #dcf5ff;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}


    .inner {
        background: #008cff;
        padding: 1em;
        width: 20vw;
        border-radius: 10px;
        clip-path: circle(10% at 90% 20%);
        transition: all .5s ease-in-out;
        cursor: pointer;
    
        &:hover {
            clip-path: circle(75%);
            background: #00b6ff;
        }

        span {
            color: #fff;
            font-weight: bold;
            float: right;
            transition: color .5s;
            position: relative;
            margin-right: 5%;
            margin-top: 5%;
        }

        &:hover span {
            color: rgba($color: #fff, $alpha: 0);
        }

        h1 {
            color: #fff;
        }

        p {
            color: #fff;
            font-size: 1rem;
        }
    }
